body {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

body * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

input {
  border: none;
}

button {
  border: none;
}

/* help-styles */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
