#hamburger-btn {
  position: relative;
  background-color: #202020;
  height: var(--header-heigh);
  width: var(--hamburger-menu-width);
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;
  cursor: pointer;
}

.hamburger-menu-item {
  height: var(--header-heigh);
  font-size: 24px;
  color: #ccc;
  display: flex;
  align-items: center;
}

.menu-item-icon {
  padding-left: 15px;
  width: var(--hamburger-menu-width);
}

#hamburger-btn:active,
#hamburger-btn:focus + .hamburger-menu {
  display: flex;
}

#hamburger-btn:focus {
  outline: 2px solid #fff;
  outline-offset: -2px;
}

#hamburger-btn:focus:not(:focus-visible) {
  outline: none;
}

.hamburger-menu {
  display: none;
  position: absolute;
  top: var(--header-heigh);
  left: 0;
  flex-direction: column;
  width: var(--hamburger-menu-width);
  height: calc(100% - var(--header-heigh));
  background-color: #202020;
}

.hamburger-menu:hover {
  width: 185px;
}

.menu-item-text {
  display: none;
}

.hamburger-menu:hover .menu-item-text {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
}

a.hamburger-menu-item:hover {
  background-color: #3a3a3a;
}

a.hamburger-menu-item:hover > .menu-item-icon {
  color: #fff;
}

.pseudo-hamburger-menu-item {
  display: none;
  position: absolute;
  background-color: #202020;
  height: var(--header-heigh);
  width: var(--hamburger-menu-width);
  color: #fff;
  align-items: center;
  padding-left: 15px;
  height: var(--header-heigh);
  font-size: 24px;
}

.hamburger-menu:hover + .pseudo-hamburger-menu-item {
  display: flex;
}
