header {
  min-height: var(--header-heigh);
  background-color: #505050;
  box-shadow: 0 1px 8px #505050;
}

nav {
  height: 100%;
  font-size: 19px;
}

.menu-text {
  padding-left: 25px;
}

.menu-text-main {
  font-weight: bold;
}

.menu-text-secondary {
  font-weight: 400;
}

nav > .flex {
  flex-grow: 1;
  justify-content: space-between;
}

.menu-search {
  position: relative;
}

.menu-search > input {
  margin-right: 15px;
  height: 28px;
  width: calc(50vw - 15px);
  background-color: #707070;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  padding-left: 15px;
}

.menu-search > input::placeholder {
  color: #fff;
  padding-left: 20px;
  font-size: 16px;
}

.menu-search > .icon-search8 {
  position: absolute;
  top: 5px;
  left: 10px;
}

.menu-search > .icon-arrow-drop-down {
  position: absolute;
  top: 5px;
  right: 30px;
}

.menu-search > input:focus ~ span {
  display: none;
}
